/* --------------------------
 * Footer Module Styles
 * --------------------------
 */

.footer {
    font-size: 87.5%;
    border-top: 1px solid #eee;
    margin-top: 3.4286em;
    padding: 1.1429em;
    background: rgb(250, 250, 250);
}

.footer-blog {
    background: none;
}

.footer-blog a {
    background: none;
    font-size: 100%;
    color: inherit;
    text-decoration: underline;
}

.legal {
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
}

    .legal-license {
        margin-top: 0;
    }
    .legal-links {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }
    .legal-copyright {
        margin-top: 0;
        margin-bottom: 0;
    }

/* --------------------------
 * Responsive Styles
 * --------------------------
 */

@media screen and (min-width: 35.5em) {

    .legal-license {
        text-align: left;
        margin: 0;
    }
    .legal-copyright,
    .legal-links,
    .legal-links li {
        text-align: right;
        margin: 0;
        }

}

/* --------------------------
 * Colored buttons with 
 * rounded corners
 * --------------------------
 */

.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-primary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-primary {
  background: rgb(61, 79, 93);
}


/* --------------------------
 * Pure Overwrites
 * --------------------------
 */

.sidebar {
    overflow: scroll;
}

/* --------------------------
 * Custom Styles
 * --------------------------
 */

.heart {
  color: #8c3a2b;
}

blockquote {
  border-left: 5px solid #DDDDDD;
  color: #666666;
  font-family: "Georgia",serif;
  font-style: italic;
  line-height: 1.8em;
  padding-left: 1.5em;
}