<!doctype html>
<html lang="en">
{% include 'includes/html_head_open' %}
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/assets/css/layouts/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="/assets/css/layouts/blog.css">
    <!--<![endif]-->
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Bitter:400' rel='stylesheet' type='text/css'>
    <style>
      html, body, button, input, select, textarea,
      .pure-g [class *= "pure-u"], .post-description {
        font-family: 'Bitter', serif;
      }
      .sidebar {
        background: none repeat scroll 0 0 rgb(61, 79, 93);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 
        background-image: url('{{ site.meta.sidebar_logo_url }}');
        color: #fff;
      }
      .brand-title, .brand-tagline, .header nav {
      	/* Fallback for web browsers that doesn't support RGBa */
      	background: rgb(61, 79, 93);
      	/* RGBa with 0.6 opacity */
      	background: rgba(61, 79, 93, 0.7);
        padding: 10px;
      }
      .nav-item a.pure-button-active {
        background-color: rgb(176, 202, 219);
      }
    </style>
{% include 'includes/html_head_close' %}
  <body class="{{ type }}">
    <div id="layout" class="pure-g">
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <h1 class="brand-title">
            {{ site.meta.shorttitle }}
          </h1>
          {% comment %}
          <h1 class="brand-title">
            {% if type == "tag" %}
              {{ parent.parent.title }}
            {% elsif type == "post" or type == "archive" %}
              {{ parent.title }}
            {% else %}
              {{ current.title }}
            {% endif %}
          </h1>
          {% endcomment %}
          <h2 class="brand-tagline">
            {% if type == "tag" %}
              {{ parent.parent.meta.subtitle }}
            {% elsif type == "post" or type == "archive" %}
              {{ parent.meta.subtitle }}
            {% else %}
              {{ current.meta.subtitle }}
            {% endif %}
          </h2>
          
          <nav class="nav">
            <ul class="nav-list">
              {% for page in site.pages %}
                <li class="nav-item"><a class="pure-button{% if page.url == url %} pure-button-active{% endif %}" href="{{page.url}}" title="{{ page.title }}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
          </nav> <!-- nav.nav -->
        </div> <!-- div.header -->
      </div> <!-- div.sidebar -->
      
    <div class="content pure-u-1 pure-u-md-3-4">
      
      <nav>
        {% if type == "tag" %}
          <p><a href="{{ parent.parent.url }}" title="Back to {{ parent.parent.title }}">&larr; Back to {{ parent.parent.title }}</a></p>
        {% elsif type == "post" or type == "archive" %}
          <p><a href="{{ parent.url }}" title="Back to {{ parent.title }}">&larr; Back to {{ parent.title }}</a></p>
        {% endif %}
      </nav>

      {% if type == "post" %}
      
      <section class="post">
        <header class="post-header">
            <img class="post-avatar" alt="{{ author.fullname }}&#x27;s avatar" height="48" width="48" src="{{ author.avatar }}">
            <h2 class="post-title"><a href="{{current.url}}">{{ current.title }}</a></h2>
        
            <p class="post-meta">
              <time datetime="{{ current.date }}"> {{ current.date | date: "%-d %B %Y" }}</time> by <span class="post-author">{{ current.author.fullname }}</span> under 
              {% comment %} Show tags associated with a taxonomy {% endcomment %}
              {% for tag in current.taxonomy['tags'] %}
                <a class="post-category" href="{{ tag.url }}">{{ tag.value }}</a>
              {% endfor %}
            </p>
        </header>
        
        <div class="post-description">
          {{ body }}
        </div>
      </section> <!-- section.post -->
      
      <nav>
          <div class="pure-g">
              <div class="l-box-lrg pure-u-1 pure-u-md-1-2">
                {% if previous and previous.type == "post" %}
                  <p><a href="{{ previous.url }}"> &larr; {{ previous.title }}</a></p>
                {% endif %}
              </div>
              <div class="l-box-lrg pure-u-1 pure-u-md-1-2">
                {% if next and next.type == "post" %}
                  <p><a href="{{ next.url }}">{{ next.title }} &rarr;</a></p>
                {% endif %}
              </div>
          </div>
      </nav>
      
      {% else %}
      
        <!-- A wrapper for the featured post (if any) -->
        {% if taxonomy['tags']['featured'].posts.size > 0 %}
          <div class="posts">
            <h1 class="content-subhead">Featured</h1>
            
            {% assign featured_ids = '' %}
         
            {% for post in taxonomy['tags']['featured'].posts limit:1 %}
            {% assign featured_ids = featured_ids | append:',' | append:post.id %}
              <section class="post">
                <header class="post-header">
                  <img class="post-avatar" alt="{{ post.author.fullname }}&#x27;s avatar" height="48" width="48" src="{{ post.author.avatar }}">
                  <h2 class="post-title"><a href="{{post.url}}">{{ post.title }}</a></h2>
                  
                  <p class="post-meta">
                    <time datetime="{{ post.date }}"> {{ post.date | date: "%-d %B %Y" }}</time> by <span class="post-author">{{ post.author.fullname }}</span> under 
                      {% comment %} Show tags associated with a taxonomy {% endcomment %}
                      {% for tag in post.taxonomy['tags'] %}
                        <a class="post-category" href="{{ tag.url }}">{{ tag.value }}</a>
                      {% endfor %}
                  </p>
                </header>
                
                <div class="post-description">
                  {{ post.body | strip_html | truncatewords: 100 }}
                  <p><a href="{{post.url}}">Read more &rarr;</a>
                </div>
              </section> <!-- section.post -->
            {% endfor %}
            
          </div> <!-- div.posts -->
        {% endif %}
      
        {% if posts.size > 0 %}
          <!-- A wrapper for all blog posts (=archive) -->
          <div class="posts">
            <h1 class="content-subhead">
              {{ title }}
            </h1>
            
            {% comment %} Loop through any posts and show an excerpt {% endcomment %}
            {% for post in posts %}
            {% unless featured_ids contains post.id %}
              <section class="post">
                <header class="post-header">
                  <img class="post-avatar" alt="{{ post.author.fullname }}&#x27;s avatar" height="48" width="48" src="{{ post.author.avatar }}">
                  <h2 class="post-title"><a href="{{post.url}}">{{ post.title }}</a></h2>
                  
                  <p class="post-meta">
                    <time datetime="{{ post.date }}"> {{ post.date | date: "%-d %B %Y" }}</time> by <span class="post-author">{{ post.author.fullname }}</span> under 
                    {% comment %} Show tags associated with a taxonomy {% endcomment %}
                    {% for tag in post.taxonomy['tags'] %}
                      <a class="post-category" href="{{ tag.url }}">{{ tag.value }}</a>
                    {% endfor %}
                  </p>
                </header>
                
                <div class="post-description">
                  {{ post.body | strip_html | truncatewords: 100 }}
                  <p><a href="{{post.url}}">Read more &rarr;</a>
                </div>
              </section> <!-- section.post -->
            {% endunless %}
            {% endfor %}
            
          </div> <!-- div.posts -->
        {% endif %}
      
      {% endif %}
      
      
      {% if type == "page" %}
        <section class="post">
          <header class="post-header">
              <h2 class="post-title"><a href="{{current.url}}">{{ current.title }}</a></h2>
          </header>
          
          <div class="post-description">
            {{ body }}
          </div>
        </section> <!-- section.post -->
      {% endif %}
      
      {% if home? %}
      
        <div class="posts">
          <h1 class="content-subhead">
            Recent Writing
          </h1>
          
          {% comment %} Loop through any posts and show an excerpt {% endcomment %}
          {% for post in site.posts limit:3 %}
            <section class="post">
              <header class="post-header">
                  <img class="post-avatar" alt="{{ post.author.fullname }}&#x27;s avatar" height="48" width="48" src="{{ post.author.avatar }}">
                  <h2 class="post-title"><a href="{{post.url}}">{{ post.title }}</a></h2>
              
                  <p class="post-meta">
                      <time datetime="{{ post.date }}"> {{ post.date | date: "%-d %B %Y" }}</time> by <span class="post-author">{{ post.author.fullname }}</span> under 
                      {% comment %} Show tags associated with a taxonomy {% endcomment %}
                      {% for tag in post.taxonomy['tags'] %}
                        <a class="post-category" href="{{ tag.url }}">{{ tag.value }}</a>
                      {% endfor %}
                  </p>
              </header>
              
              <div class="post-description">
                {{ post.body | strip_html | truncatewords: 100 }}
                <p><a href="{{post.url}}">Read more &rarr;</a>
              </div>
            </section> <!-- section.post -->
          {% endfor %}
          
        </div> <!-- div.posts -->
      
      {% endif %}
      
      <div class="footer footer-blog">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
              {% include 'includes/credits' %}
            </div>
            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
              {% include 'includes/copyright' %}
            </div>
        </div>
      </div> <!-- div.footer -->
    </div> <!-- div.content -->
      
    </div> <!-- div#layout -->
  </body>
</html>
