<!doctype html>
<html lang="en">
{% include 'includes/html_head_open' %}
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/assets/css/layouts/gallery-grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="/assets/css/layouts/gallery-grid.css">
    <!--<![endif]-->
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/assets/css/layouts/gallery-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="/assets/css/layouts/gallery.css">
    <!--<![endif]-->
{% include 'includes/html_head_close' %}
  <body class="{{ type }}">
    <div>
      <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
          <a class="pure-menu-heading" href="/" title="{{ site.domain }}">{{ site.title }}</a>
          <ul>
            {% for page in site.pages %}
              <li><a href="{{page.url}}"{% if page.url == url %} class="pure-menu-selected"{% endif %}>{{ page.title }}</a></li>
            {% endfor %}
            {% for page in pages %}
              <li><a href="{{page.url}}"{% if page.url == url %} class="pure-menu-selected"{% endif %}>{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- div.header -->
      
      <div class="gallery pure-g">
        
        {% assign asset_ids = '' %}
        
        {% for asset in assets limit:1 %}
        {% assign asset_ids = asset_ids | append:',' | append:asset.id %}
          {% if asset.type == 'image' %}
          <div class="photo-box u-1 u-med-1-3 u-lrg-1-4">
            <a href="{{ asset.url }}">
              <img src="{{ asset.url }}"{% if asset.meta.alt %} alt="{{ asset.meta.alt }}"{% endif %}>
            </a>
            
            {% if asset.meta.caption %}
            <aside class="photo-box-caption">
              <span>
                {{ asset.meta.caption }}
              </span>
            </aside>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}

        <div class="text-box u-1 u-med-2-3 u-lrg-3-4">
          <div class="l-box">
            <h1 class="text-box-head">{{ current.title }}</h1>
            <p class="text-box-subhead">{{ current.meta.subtitle }}</p>
          </div>
        </div>
        
        {% for asset in assets %}
        {% unless asset_ids contains asset.id %}
          {% if asset.type == 'image' %}
          <div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
            <a href="{{ asset.url }}">
              <img src="{{ asset.url }}"{% if asset.meta.alt %} alt="{{ asset.meta.alt }}"{% endif %}>
            </a>
            
            {% if asset.meta.caption %}
            <aside class="photo-box-caption">
              <span>
                {{ asset.meta.caption }}
              </span>
            </aside>
            {% endif %}
          {% elsif asset.type == 'audio' %}
            <audio><source src="{{ asset.url }}" type="{{ asset.content_type }}"></audio>
          {% elsif asset.type == 'video' %}
            <video><source src="{{ asset.url }}" type="{{ asset.content_type }}"></video>
          {% elsif asset.type == 'other' %}
            <a href="{{ asset.url }}">Download {{ asset.filename }}</a></li>
          {% endif %}
          </div>
        {% endunless %}
        {% endfor %}

        <div class="content u-1">
          <div class="l-box">
            {{ body }}
          </div>
        </div>
      </div><!-- div.gallery -->
      
      <div class="footer l-box">
        <div class="pure-g">
          <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
            {% include 'includes/credits' %}
          </div>
          <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            {% include 'includes/copyright' %}
          </div>
        </div>
      </div><!-- div.footer -->
    </div>
  </body>
</html>
