<!doctype html>
<html lang="en">
{% include 'includes/html_head_open' %}
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/assets/css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="/assets/css/layouts/marketing.css">
    <!--<![endif]-->
{% include 'includes/html_head_close' %}
  <body class="{{ type }}">
    <div class="header">
      <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/" title="{{ site.domain }}">{{ site.title }}</a>
        <ul>
          {% for page in site.pages %}
            <li><a href="{{page.url}}"{% if page.url == url %} class="pure-menu-selected"{% endif %}>{{page.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div><!-- div.header -->

    <div class="splash-container">
      <div class="splash">
        <h1 class="splash-head">{{ site.meta.subtitle }}</h1>
        <p class="splash-subhead">{{ current.title }}</p>
        <p class="splash-subhead">{{ current.meta.subtitle }}</p>
      </div>
    </div><!-- div.splash-container -->

    <div class="content-wrapper">
      <div class="content is-center">
        {{ body }}
      </div><!-- div.content -->
      <div class="footer l-box">
        <div class="pure-g">
          <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
            {% include 'includes/credits' %}
          </div>
          <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            {% include 'includes/copyright' %}
          </div>
        </div>
      </div><!-- div.footer -->
    </div><!-- div.content-wrapper -->
  </body>
</html>
